<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     INFO UFFS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- logo da uffs -->
  <img class="img-responsive" src="assets/img/UFFS.jpg" alt="image">
  <p class='text-center'>A Universidade Federal da Fronteira Sul é uma instituição de ensino superior 
      pública brasileira sediada na cidade de Chapecó, em Santa Catarina, e com 
      campi nas cidades de Cerro Largo, Erechim, Laranjeiras do Sul, Passo Fundo e Realeza.
  </p>

  <!-- logo da fronteiratec -->
  <img class="img-responsive2" src="assets/img/logo_completo_fronteira.png" alt="image">
  <p class='text-center2'>Aplicativo desenvolvido pela empresa junior, conhecida como fronteiratec que 
    atua desde 2014 na universidade.</p>
  
    <!-- <ion-icon name="logo-github"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon> -->
  
</ion-content>
